/**
Form
 */
.recipe-form-title {
  text-align: center;
}

.action-nav {
  width: 100%;
  .action-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    .action-nav-link {
      width: 30%;
      border: 1px solid black;
      padding: 1%;
      text-align: center;
      cursor: pointer;
    }
  }
}

.resource-form {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-heading {
    text-align: center;
  }

  .form-ctrl-container {
    display: flex;
    flex-direction: column;
    width: 90%;

    .form-ctrl-text {
      width: 90%;
    }
  }

  .submit-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nested-form-nav-link {
    text-align: center;
  }
}

.tab-form-heading {
  text-align: center;
}

.resource-heading {
  text-align: center;
}

.resources-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resource-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .resource-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .resource-text {
      width: 75%;
    }

    .manage-resource-links {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 20%;
    }
  }
}

.add-resource-container {
  width: 100%;
}

.manage-resource-heading {
  text-align: center;
}

.return-link {
  padding: 2%;
  text-align: end;
}

.action-links-navbar {
  width: 100%;

  .action-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    width: 100%;

    .action-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 15%;
      border: 1px solid black;
      text-align: center;
      padding: 1%;
    }
  }
}

.resource-list-container.small-list-container {
  width: 75%;
}

/**
New Recipe
 */
.new-resource-note {
  text-align: center;
}