.resource-form {
  .recipe-step-ingredient {
    padding: 1%;
    .ingredient-info {
      width: 50%;
    }

    .ingredient-measurement {
      width: 20%;
      .form-ctrl {
        padding: 5%;
      }
    }

    .ingredient-condition {
      width: 25%;
      .form-ctrl {
        padding: 5%;
      }
    }
  }
}