.resource-form {
  .recipe-step-ingredient {
    padding: 1%;
    .ingredient-info {
      width: 70%;
    }

    .ingredient-measurement {
      width: 10%;
    }

    .ingredient-condition {
      width: 15%;
    }
  }
}