<% content_for :head_js do %>
  <%= javascript_pack_tag 'public', 'data-turbolinks-track': 'reload' %>
<% end %>

<h1 class="landing-heading">Welcome to A Lazy Kitchen</h1>

<ul id="landing_recipes">
  <%= render partial: 'application/recipes/recipe', collection: @recipes %>
</ul>