<h1>Welcome to the Lazy Kitchen</h1>

<table>
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'application/recipes/recipe', collection: @recipes %>
  </tbody>
</table>

