<h1 class="landing-heading">Welcome to M and T's Kitchen</h1>

<!--<ul id="landing_recipes" class="directory-items">-->
  <%#= render partial: 'application/recipes/recipe', collection: @recipes %>
<!--</ul>-->

<%= render partial: 'application/recipes/search_bar' %>
