<nav class="action-nav">
  <ul class="action-nav-links">
    <% unless recipe.new_record? %>
      <li class="action-nav-link"><%= link_to 'Information', edit_manage_recipe_path(recipe) %></li>
      <li class="action-nav-link"><%= link_to 'Steps', manage_recipe_edit_steps_path(recipe) %></li>
<!--      <li class="action-nav-link"><%#= link_to 'Ingredients', manage_recipe_(recipe) %></li>-->
    <% end %>
  </ul>
</nav>