<h1 class="recipes-heading">Listing Recipes</h1>

<ul id="directory_recipes">
  <%= render partial: 'application/recipes/recipe', collection: @recipes %>
</ul>

<span><%= link_to "New Recipe", new_manage_legacy_recipe_path %></span>
