<h1 class="text-center">Listing Recipes</h1>

<div class="paginated-resources-container">
  <p class="page-entries-info">
    <%= page_entries_info @recipes %>
  </p>

  <ul id="directory_recipes" class="directory-items">
    <%= render partial: 'application/recipes/recipe', collection: @recipes %>
  </ul>

  <%= paginate @recipes %>
</div>

<div class="directory-actions-links">
  <ul class="action-links">
    <li class="directory-action-link">
      <%= link_to "New Recipe", new_manage_recipe_path %>
    </li>
  </ul>
</div>
