<tr>
  <td>
    <span><%= link_to recipe.name, recipe_path(recipe) %></span>
<!--    <span><%#= link_to 'Edit', edit_recipe_path(recipe) %></span>-->
<!--    <span><%#= link_to "Delete", recipe_path(recipe), method: :delete, data: [confirm: "Are you sure?"] %></span>-->
  </td>
</tr>