<li class="ingredient" id="ingredient_<%= step_ingredient.ingredient.id %>">
  <%= step_ingredient.amount %>
  <%= step_ingredient.unit %>
  <%= [step_ingredient.ingredient.name, step_ingredient.condition].join(', ') %>
</li>