<h3 class="tab-form-heading">Images</h3>

<%= render partial: 'application/manage/images/gallery_pictures', locals: {form: ingredient_form, standard_alt_text: "A picture of #{ingredient_form.object.name}"} %>

