<li class="resource-item recipe-step nested-form-wrapper" data-new-record="<%= steps_form.object.new_record? %>">
  <%= steps_form.hidden_field :order, class: "recipe-step-order ordered-item" %>

  <div class="form-ctrl-container">
    <%= steps_form.text_area :instruction, class: "form-ctrl-text" %>
  </div>

  <div class="nested-form-actions">
    <button type="button" class="button cancel-btn" data-action="nested-form#remove">
      Remove Step
    </button>

    <button type="button" class="button undo-remove-btn hidden" data-action="nested-form#undoRemove">
      Undo Remove
    </button>
  </div>

  <%= steps_form.hidden_field :_destroy %>
</li>
