<h1 class="recipe-form-title">Edit Recipe: <%= @recipe.name %></h1>

<%= render partial: 'application/manage/stable/recipes/form', locals: {action: manage_stable_recipe_step_path(params[:recipe_id], params[:id])} %>

