<h1 class="manage-resource-heading">New Recipe</h1>

<%= render partial: "application/recipes/form", locals: {http_method: :post, action: manage_legacy_recipes_path} %>

<div class="return-link"><%= link_to "Back", manage_legacy_recipes_path %></div>