<h1 class="resource-heading">Manage: <%= @ingredient.name %></h1>

<section class="ingredient-bio">
  <p aria-label="Ingredient description" id="ingredient_description"><%= @ingredient.description %></p>
</section>

<!--<nav class="action-nav">-->
<!--  <ul class="action-nav-links">-->
<!--    <li class="action-nav-link"><%#= link_to "Edit", edit_manage_ingredient_path(@ingredient) %></li>-->
<!--    <li class="action-nav-link"><%#= link_to "Delete", manage_ingredient_path(@ingredient), {action: :destroy, method: :delete, id: @ingredient.slug, data: {confirm: "Are you sure?"}} %></li>-->
<!--    <li class="action-nav-link"><%#= link_to "Back", manage_ingredients_path %></li>-->
<!--  </ul>-->
<!--</nav>-->