<h1 class="resource-heading">Manage: <%= @ingredient.name %></h1>

<section class="ingredient-bio">
  <p aria-label="Ingredient description" id="ingredient_description"><%= @ingredient.description %></p>
</section>
