<h3 class="tab-form-heading">Images</h3>

<%= render partial: 'application/manage/images/gallery_pictures', locals: {form: step_form, standard_alt_text: "A picture of Step #{step_form.object.order} for Recipe #{step_form.object.recipe.name}"} %>

