<%= turbo_frame_tag('recipe_images', loading: :lazy) do %>
  <h3 class="tab-form-heading">Images</h3>

  <%= render partial: 'application/manage/recipes/images/primary_picture', locals: {recipe_form: recipe_form} %>

  <%= render partial: 'application/manage/recipes/images/gallery_pictures', locals: {recipe_form: recipe_form} %>
<% end %>