.header {
  border-bottom: 1px solid #eee;
  .container {
    margin: 0 auto;
    width: 70%;

    .site-navigation {
      width: 100%;
      display: flex;

      .home-nav-link {
        width: 20%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .site-nav-links {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        padding-left: 0;

        .site-nav-link {
          width: 20%;
          text-align: center;
          padding: 1%;
        }
      }

      .nav-anchor {
        text-decoration: none;
      }
    }
  }
}