/**
Index
 */
.recipes-heading {
  text-align: center;
}

#directory_recipes {
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .directory-recipe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    border: 1px solid black;
    padding: 1%;
    &:hover {
      box-shadow: 6px 6px 2px 1px #2E2F30;
    }

    .recipe-links {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 15%;
    }
  }
}

.new-recipe-link {
  width: 80%;
  text-align: end;
}

/**
Show
 */

#recipe_content {
  padding: 1%;
  display: flex;
  flex-direction: row;

  #recipe_ingredients {
    width: 35%;
  }

  .recipe-col {
    padding: 1%;
    margin: 1%;
  }
}

.recipe-heading {
  text-align: center;
}

.recipe-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .recipe-profile-img-container {
    padding: 2%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 30px;
    height: 65vh;
    width: 40%;
    display: flex;
    align-items: center;
    .recipe-profile-img {
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }
  }
}

.recipe-bio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .recipe-profile-img-container {
    padding: 2%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 30px;
    height: 65vh;
    width: 40%;
    display: flex;
    align-items: center;
    .recipe-profile-img {
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }
  }
}

.ingredient {
  list-style: none;
  padding-left: 0;
}

/**
Form
 */
.recipe-form-title {
  text-align: center;
}

.action-nav {
  width: 100%;
  .action-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    .action-nav-link {
      width: 30%;
      border: 1px solid black;
      padding: 1%;
      text-align: center;
      cursor: pointer;
    }
  }
}

.resource-form {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-heading {
    text-align: center;
  }

  .form-ctrl-container {
    display: flex;
    flex-direction: column;
    width: 90%;

    .form-ctrl-text {
      width: 90%;
    }
  }

  .recipe-profile-img-container {
    padding: 2%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 30px;
    height: 50vh;
    width: 40%;
    display: flex;
    align-self: center;
    .recipe-profile-img {
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }
  }

  .submit-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .step-content {
    margin: 0 auto;
    width: 80%;
  }

  .recipe-step {
    cursor: grab;
    border: 1px solid black;
    padding: 1%;
    &:hover {
      box-shadow: 6px 6px 2px 1px #2E2F30;
    }
  }

  .nested-form-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .nested-form-nav-link {
    text-align: center;
  }

  .recipe-step-ingredient {
    padding: 1%;
    .ingredient-info {
      width: 70%;
    }

    .ingredient-measurement {
      width: 10%;
    }

    .ingredient-condition {
      width: 15%;
    }
  }
}

.tab-form-heading {
  text-align: center;
}

/**
Images
 */
/**
Primary Picture
 */
.resource-primary-img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .edit-recipe-profile-img-container {
    padding: 2%;
    margin: 0.5%;
    border: 1px solid black;
    border-radius: 30px;
    height: 70vh;
    width: 40%;
    display: flex;
    align-items: center;
    .recipe-profile-img {
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }
  }

  #primary_picture_upload_ctrl_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
    border-radius: 10px;
    width: 30%;
    margin: 0.5% 0 0.5% 0;
    #recipe_primary_picture {
      margin: 0.5% auto;
      height: 100%;
    }
  }
}

/**
Gallery Pictures
 */

.resource-gallery-img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 1%;

  .resource-gallery-preview {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .resource-preview-container {
      width: 45%;
      height: 60vh;
      margin: 1%;
      padding: 1%;
      border: 1px solid black;
      border-radius: 10px;

      .gallery-images-container {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 85%;
        overflow-y: scroll;
        .preview-resource-image {
          margin: 1%;
          width: 30%;
          padding: 1%;
          border: 1px solid black;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 75%;

          .resource-gallery-img {
            height: 75%;
            width: 100%;
            border-radius: 10px;
          }
        }
      }
    }
  }

  #gallery_pictures_ctrl {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.cancel-upload-btn {
  background-color: red;
  border: 1px solid #861111;

  &:hover {
    background-color: #861111;
  }
}

.delete-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20%;
  padding: 1%;
  .delete-img-txt {
    padding: 0;
    margin: 0;
  }
}

/**
New Recipe
 */
.new-resource-note {
  text-align: center;
}