/**
Index
 */
.recipes-heading {
  text-align: center;
}

#directory_recipes {
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .directory-recipe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    border: 1px solid black;
    padding: 1%;
    &:hover {
      box-shadow: 6px 6px 2px 1px #2E2F30;
    }

    .recipe-links {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 15%;
    }
  }
}

.new-recipe-link {
  width: 80%;
  text-align: end;
}

/**
Show
 */

#recipe_content {
  padding: 1%;
  display: flex;
  flex-direction: row;

  #recipe_ingredients {
    width: 35%;
  }

  #recipe_steps {
    width: 55%;
  }

  .recipe-col {
    padding: 1%;
    margin: 1%;
  }
}

.recipe-heading {
  text-align: center;
}

.recipe-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .recipe-profile-img-container {
    padding: 2%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 30px;
    height: 65vh;
    width: 40%;
    display: flex;
    align-items: center;
    .recipe-profile-img {
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }
  }
}

.recipe-bio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .recipe-profile-img-container {
    padding: 2%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 30px;
    height: 65vh;
    width: 40%;
    display: flex;
    align-items: center;
    .recipe-profile-img {
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }
  }
}

.ingredient {
  list-style: none;
  padding-left: 0;
}

/**
Form
 */
.form-nav {
  width: 100%;
  .form-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    .form-nav-link {
      width: 30%;
      border: 1px solid black;
      padding: 1%;
      text-align: center;
      cursor: pointer;
    }
  }
}