.site-navigation {
  width: 100%;
  display: flex;

  .home-nav-link {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .site-nav-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
    .site-nav-link {
      width: 20%;
      text-align: center;
      padding: 1%;
    }
  }
}

/**
Flash
 */

.flash-container {
  width: 60%;
  margin: 1% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 1%;
  border: 1px solid black;

  .flash-message-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.hidden-flash {
  display: none;
}

// Flash Color Schemes

// Default flash coloring for anything that isn't applied
.flash-container {
  background-color: white;
  color: black;
}

.flash-container.flash-alert {
  background-color: #f3665b;
  color: #80231d;
}

.flash-container.flash-notice {
  background-color: #7bc4e7;
  color: #2a5c73;
}

.flash-container.flash-special {
  background-color: #ebed79;
  color: #7f8035;
}

.flash-container.flash-success {
  background-color: #61cb61;
  color: #006400FF;
}

/**
Validation Errors
 */

#error_explanation {
  width: 100%;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 1%;
  border: 1px solid black;

  background-color: #f3665b;
  color: #80231d;
}