.auth-heading {
  text-align: center;
}

.auth-form {
  width: 60%;
  margin: 0 auto;

  .auth-checkbox {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-evenly;
  }
}

.shared-links-container {
  margin: 0 auto;
  width: 60%;
}

#user_profile {
  padding: 2%;

  .directory-items {
    width: 100%;
    .directory-item {
      width: 100%;
    }
  }
}