<h1 class="text-center">Manage Your Account</h1>

<main id="user_profile">
  <section id="user_bio" class="profile-section">
    <table id="user_data">
      <thead class="user-data-heading">
        <tr>
          <th colspan="1000">User Information</th>
        </tr>
      </thead>
      <tbody class="user-data-body">
        <tr>
          <th>Email</th>
          <td>
            <p id="email"><%= @user.email %></p>
          </td>
        </tr>
        <tr>
          <th>Username</th>
          <td>
            <p id="username"><%= @user.username %></p>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="resources" class="profile-section">
    <h3><label for="recipes">Recipes</label></h3>
    <ul id="recipes" class="directory-items">
      <%= render partial: 'application/recipes/recipe', collection: @user.recipes %>
    </ul>
  </section>
</main>
