<h1 class="recipe-form-title">New Recipe</h1>

<%= render partial: 'application/manage/stable/recipes/form', locals: {action: manage_stable_recipes_path} %>

<p>Note: Only basic information may be added for new recipes</p>